@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
}
html{
  width: 100%;
}

 body {
  width: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}


header{
  position: relative;

}

/* fonts */
.fjalla {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.bitcount {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.playwrite {
  font-family: "Playwrite VN Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.my-soul {
  font-family: "My Soul", cursive;
  font-weight: 400;
  font-style: normal;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* body */


.box1{
  
  position: absolute;
  width: 7vw;
  height: 7vw;
  background-color: #a4c3b27e;
  border-radius: 50px 100px 360px 100px;
  z-index: 0;
  top: 1%;
  left: 1.5%;
}

.box2{
  position: absolute;
  width: 7vw;
  height: 7vw;
  background-color: #e7eeea7d;
  border-radius: 100px 50px 100px 360px ;
  top: 1%;
  right: 1.5%;
  z-index: 0;
}

.box3{
  position: absolute;
  width: 7vw;
  height: 7vw;
  background-color: #9bbfb06f;
  border-radius: 100px 360px 100px 50px;
  top: 87%;
  left: 1.5%;
  z-index: 0;
}


.box4{
  position: absolute;
  width: 7vw;
  height: 7vw;
  background-color: #e7eeea7d;
  border-radius: 360px 100px 100px 100px;
  top: 87%;
  
  right: 1.5%;
  z-index: 0;
}


/* header */
header{
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #6b9080, #a4c3b2, #cce3de, #eaf4f4, #f6fff8);
}

.navigation{
  width: 55vw;
  margin: 0 auto;
  padding-top: 3%;
}

.hr-nav{
  display: none;
}

.close{
  margin: 10px;
  display: none;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title{
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: bolder;
}

.d{
  color: orangered;
}

.nav-link-container{
  list-style: none;
  display: flex;
  gap: 1vw;
  animation: appear-right 2s ease;
}
.dropdown-button{
  /* font-size: 5vw; */
  height: auto;
  width: 20px;
  border: none;
  border-radius: 10%;
  background-color: #83c5bf75;
}
.nav-link{
  color: rgb(126, 126, 126);
  /* margin-left: 1vw; */
  padding: 5px;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 15px;
  /* box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.097); */
  /* border: 1px solid rgba(0, 0, 0, 0.032); */
  
}

.main-content{
  display: flex;
  justify-content: space-between;
  width: 65vw;
   margin-top: 10vh;
  /* border: 1px solid black; */
  
  margin: 0 auto;
  
  margin-top: 3%;
}

.main-left{
  padding-top: 6%;
}

.main-greetings{
  font-size: 1.4em;
  animation: appear-left 2s ease;
  position: relative;
}

.main-title{
  font-size: 3.5em;
  list-style: 2%;
  margin-top: 4%;
  font-weight: 830;
  animation: appear-left ease 2s;
  position: relative;
  line-height: 100%;
}

.main-dis{
  font-size: 1.3em;
  color: #525252;
  margin-top: 5%;
  width: 22vw;
  animation: appear-left 2s ease;
  position: relative;
}

.hire-me{
  font-size: 1.7em;
  padding: 1% 4%;
  margin-top: 4vh;
  border-radius: 5px;
  border: 3px solid rgb(126, 126, 126);
  background: linear-gradient(to right, #a4c3b200, rgba(193, 192, 192, 0));
  animation: appear-left 2s ease;
  position: relative;
}

.ridoy{
  max-width: 500px;
  overflow: hidden;
  height: auto;
  mask-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(45, 136, 255), rgb(255, 0, 0), rgba(255, 0, 0, 0));

  padding: 1%;
  position: relative;
  

}

.dropdown-button{
  display: none;
  visibility: hidden;
}
.achievements{
  display: grid;
  grid-template-columns:  10vw 10vw 10vw 10vw;
  justify-content: center;
  gap: 1.15%;
  margin-top: 4%;
  padding-bottom: 5%;
  
}

.achievement{
  width: 85%;
  filter: grayscale(100%);
  border-radius: 10px;
  animation: appear-right 2s ease;
  position: relative;
}

.Work-Experience-container{
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  line-height: 140%;
  font-weight:600;
}

.Work-Experience{
  font-size: 1.5em;
  text-align: center;
}

.ten{
  font-size: 2em;
  color: #414141;
}
.years{
  font-size: .4em;
}


/* my work */

.my-work{
  margin-top: 5%;
}

.my-work-title{
  text-align: center;
  font-size: 5vw;
}
main{
  background-color: #a3a3a32c;
  padding-top: 4%;
  width: 100%;

}
.work-container{
  display: grid;
  grid-template-columns: repeat(20, 3.5vw);
  grid-template-rows: repeat(22, 3.5vw);
  justify-self: center;
  margin-top: 4%;
  gap: 1vw;
}

.work{
  background: linear-gradient(45deg, red, blue, pink, violet);
  border-radius: 10px;
  position: relative;
}

.my-work1{
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: -11;
}

.my-work2{
  grid-row-start: 1;
  grid-row-end: 7;
  grid-column-start: 11;
  grid-column-end: 19;
}

.my-work3{
  grid-row-start: 6;
  grid-row-end: 12;
  grid-column-start: 3;
  grid-column-end: 11;
}

.my-work4{
  grid-row-start: 7;
  grid-row-end: 13;
  grid-column-start: 11;
  grid-column-end: 19;
}

.my-work5{
  grid-row-start: 12;
  grid-row-end: 17;
  grid-column-start: 3;
  grid-column-end: 11;
}

.my-work6{
  grid-row-start: 13;
  grid-row-end: 18;
  grid-column-start: 11;
  grid-column-end: 19;
}

.my-work7{
  grid-row-start: 17;
  grid-row-end: 22;
  grid-column-start: 3;
  grid-column-end: 11;
}

.work-explain{
  grid-row-start: 18;
  grid-row-end: 22;
  grid-column-start: 11;
  grid-column-end: 19;
}

/* review */
.reviews{
  width: 70vw;
  justify-self: center;
  overflow: hidden;
  margin-top: 5%;
  padding-bottom: 5%;
  /* display: flex; */
}

.review-container{
  justify-self: center;
  width: 70vw;

}

.review-list{
  display: flex;
  width: 100%;
  height: 270px;
  position: relative;
}

.review{
  height: 270px;
  width: 360px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.126);
  background-color: white;
  left: 100%;
  position: absolute;
  border-radius: 14px;
  animation:slide 10s linear infinite;
  animation-delay: calc((25s / var(--number)) * (var(--position) - 0));

  

}

.vw-70{
  transform: translateX(-70vw);
  grid-template-columns: repeat(7, 1fr);
}

.review-main-title{
  margin-bottom: 3%;
}

.stars-container{
  display: flex;
  margin-top: 6% ;
  margin-left: 5%;
  margin-bottom: 2%;
  gap: 1.5%;
}

.avater{
  border-radius: 360px;
  height: 45px;
  width: 45px;
}

.review-title{
  font-size:1.5em;
  margin-left: 6%;
  margin-bottom: 1%;
  font-weight: 600;
}

.review-des{
  margin-left: 6%;
}


.reviewer{
  display: flex;
  margin-left: 6%;
  gap: 2%;
  margin: 5%;
}